.summary{
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto 80%;
}
.summary p{
    padding-top:15px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.summary img {
    
}

.Results .tiles{
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.tiles > div{
    background-color: rgb(207, 207, 207);
    border-radius: 20px;
}

.tiles img{
    margin-top:20px;
}

.Results p{
    font-size:20px;
}